---
layout: framework
sidebar: category-list
---

<!--video width="640" height="480" controls>
  <source src="/assets/images/stars-video.mp4" type="video/mp4">
</video -->
<p>Students and faculty, please support the event by submitting a poster or activity. </p>
<h3><a href="https://ggc-stars.github.io/submissions/"> Click here for more details about STaRS submissions. </a> </h3>
<br/> <br/>

<div class="articles">
  {% if page.banner == nil %}
    {% assign banner = page.title %}
  {% endif %}

  {{ content }}

  {% assign posts_no_posters = site.categories.stars2024 |
  where_exp: "post", "post.categories != 'posters'" |
  where_exp: "post", "post.categories[0] != 'posters'" |
  where_exp: "post", "post.categories[1] != 'posters'"
  %}
  {% include views/pagination2.html paginator=posts_no_posters %}
</div>
